<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title>{% block title %} {% endblock %} AIND Data Transfer Service Jobs</title>
    <style>
        body {
            margin: 20px;
            font-family: arial, sans-serif;
        }
        nav {
            height: 40px;
        }
        #default-jobs-table {
            width: 100%;
            height: calc(100vh - 200px);
            iframe {
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Submit Jobs</a> |
        <a href="/jobs">Job Status</a> |
        <a title="Download job template as .xslx" href= "/api/job_upload_template" download>Job Submit Template</a> |
        <a title="List of project names" href= "{{ project_names_url }}" target="_blank" >Project Names</a> |
        <a title="For more information click here" href="https://aind-data-transfer-service.readthedocs.io"  target="_blank" >Help</a>
    </nav>
    <div class="content">
        <!-- display total entries from child iframe -->
        <h4 class="mb-2">Jobs Submitted: <span id="jobs-iframe-total-entries"></h4>
        <!-- filters for job status results-->
        <div class="card mb-4 small" style="width:400px">
            <div class="card-header py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-filters" aria-expanded="false" aria-controls="collapse-filters">
                <i class="bi bi-filter"></i><span class="ms-2">Filter by</span>
                <i class="bi bi-chevron-expand float-end"></i>
            </div>
            <div id="collapse-filters" class="collapse card-body p-2">
                <!-- filter by job status -->
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text" style="width:35%">Status</span>
                    <select class="form-select" onchange="filterJobsByStatus(this.value);this.blur();">
                        {% for s in [
                            {"label": "all", "value": [], "class": "text-dark"},
                            {"label": "queued", "value": ["queued"], "class": "text-secondary"},
                            {"label": "running", "value": ["running"], "class": "text-info"},
                            {"label": "failed", "value": ["failed"], "class": "text-danger"},
                            {"label": "success", "value": ["success"], "class": "text-success"},
                        ] %}
                        {% if s.value==default_state %}<option class="{{ s.class }}" value="{{ s.value }}" selected>{{ s.label }}</option>
                        {% else %}<option class="{{ s.class }}" value="{{ s.value }}">{{ s.label }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- filter by job submitted date range -->
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:35%">Submit Time</span>
                    <input id="submit-date-range" class="form-select" type="text" />
                </div>
                <!-- search by job id (exact match only) -->
                <div class="d-flex align-items-center">
                    <hr class="flex-grow-1 border-secondary">
                    <span class="mx-2"><small class="d-block">or</small></span>
                    <hr class="flex-grow-1 border-secondary">
                </div>
                <form onsubmit="searchByJobId(event)">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" style="width:35%">Job ID</span>
                        <input id="job-id-input" type="text" class="form-control" placeholder="exact match only">
                        <button class="btn btn-outline-secondary" type="submit" title="Search">
                            <i class="bi bi-search"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button" onclick="clearJobIdResult(event)" title="Clear">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- job status tables -->
        <div id="default-jobs-table">
            <!-- toolbar to change jobs per page and navigate pages -->
            <div id="jobs-toolbar" class="btn-toolbar justify-content-between mb-2" role="toolbar">
                <div class="input-group input-group-sm">
                    <select class="form-select" onchange="updateJobStatusTableLimit(this.value);this.blur();">
                        {% for l in [10, 25, 50, 100] %}
                        {% if l==default_limit %}<option value="{{ l }}" selected>{{ l }}</option>
                        {% else %}<option value="{{ l }}">{{ l }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <span class="input-group-text">jobs per page</span>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <!-- display current jobs range e.g, "1 to 10 of 100" -->
                    <span id="jobs-iframe-showing" class="btn" style="cursor:default;"></span>
                </div>
                <div class="btn-group pagination pagination-sm" role="group">
                    <button id="jobs-page-btn-first" type="button" class="btn page-link"
                        onclick="updateJobStatusTablePage(PaginateTo.FIRST);this.blur();">&laquo; First</button>
                    <button id="jobs-page-btn-prev" type="button" class="btn page-link"
                        onclick="updateJobStatusTablePage(PaginateTo.PREV);this.blur();"
                        >&lsaquo; Prev</button>
                    <button id="jobs-page-btn-next" type="button" class="btn page-link"
                        onclick="updateJobStatusTablePage(PaginateTo.NEXT);this.blur();">Next &rsaquo;</button>
                    <button id="jobs-page-btn-last" type="button" class="btn page-link"
                        onclick="updateJobStatusTablePage(PaginateTo.LAST);this.blur();">Last &raquo;</button>
                </div>
            </div>
            <!-- iframe to display paginated job status table -->
            <iframe id="jobs-iframe" src=""></iframe>
        </div>
        <div id="full-jobs-table">
            <table id="searchJobsTable" class="display compact table table-bordered table-sm" style="font-size: small">
                <thead>
                    <tr>
                        <th>Asset Name</th>
                        <th>Job ID</th>
                        <th>Status</th>
                        <th>Submit Time</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Comment</th>
                        <th>Tasks</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
        // User can filter for jobs by status and submit time, and view results in 2 ways:
        // 1. Default table: Loads 1 page of jobs at a time using Jinja template.
        // 2. Full Jobs Table: Loads all jobs using DataTables library. Enables searching across all jobs.
        let tableUrls = {
            default: new URL("{{ url_for('job_status_table') }}"),
            full: new URL("{{ url_for('get_job_status_list') }}" + "?get_all_jobs=true"),
        };  
        const PaginateTo = {
            NEXT: 'next',
            PREV: 'prev',
            FIRST: 'first',
            LAST: 'last'
        };
        $(document).ready(function() {
            const today = moment();
            const twoWeeksAgo = moment().subtract(13, 'days');
            
            // initialize daterangepicker for submit date filter
            $('#submit-date-range').daterangepicker({
                startDate: twoWeeksAgo,
                endDate: today,
                minDate: twoWeeksAgo,
                maxDate: today,
                ranges: {
                    'Today': [today, today],
                    'Last 3 Days': [moment().subtract(2, 'days'), today],
                    'Last 7 Days': [moment().subtract(6, 'days'), today],
                    'Last 14 Days': [twoWeeksAgo, today],
                }
            }, filterJobsBySubmitTimeRange);

            // initialize job status table with default values
            const initialParams = {
                limit: "{{ default_limit }}",
                offset: "{{ default_offset }}",
                state: "{{ default_state }}",
                // set default submit date range client-side for browser's local time
                execution_date_gte: twoWeeksAgo.startOf('day').toISOString(),
                execution_date_lte: today.endOf('day').toISOString(),
            };
            updateJobStatusTable(initialParams);
        });
        // FULL JOBS TABLE -----------------------------------------------
        function createFullJobsTable() {
            $('#searchJobsTable').DataTable({
                ajax: {
                    url: tableUrls.full,
                    dataSrc: 'data.job_status_list'
                },
                processing: true,
                columns: [
                    { data: 'name', searchable: true },
                    { data: 'job_id', searchable: true },
                    { data: 'job_state', searchable: false },
                    { data: 'submit_time', searchable: false },
                    { data: 'start_time', searchable: false },
                    { data: 'end_time', searchable: false },
                    { data: 'comment', searchable: false },
                    { data: 'job_id', searchable: false },
                ],
            });
        }
        // EVENT HANDLERS ------------------------------------------------
        function updateJobStatusTable(newParams, isSearchJobId=false) {
            Object.entries(newParams).forEach(([key, value]) => {
                tableUrls.default.searchParams.set(key, value);
                // Ignore paginate changes for full jobs table
                if (key !== 'limit' && key !== 'offset') {
                    tableUrls.full.searchParams.set(key, value);
                }
            });
            // reset job_id filter
            if (!isSearchJobId) {
                document.getElementById('job-id-input').value = '';
                tableUrls.default.searchParams.delete('dag_run_id');
            }
            // Update job tables
            var iframe = document.getElementById('jobs-iframe');
            iframe.src = tableUrls.default.toString();
            if (DataTable.isDataTable('#searchJobsTable')) {
                $('#searchJobsTable').DataTable().ajax.url(tableUrls.full.toString()).load();
            } else {
                createFullJobsTable();
            }
        }
        // Filters
        function filterJobsByStatus(newStatus) {
            updateJobStatusTable({
                state: newStatus,
                offset: 0 // reset to first page
            });
        }
        function filterJobsBySubmitTimeRange(start, end) {
            // NOTE: daterangepicker already has 00:00:00.000 and 23:59:59.999 for start and end
            updateJobStatusTable({
                execution_date_gte: start.toISOString(),
                execution_date_lte: end.toISOString(),
                offset: 0 // reset to first page
            });
        }
        function searchByJobId(event) {
            event.preventDefault();
            // search by job id and reset to first page
            const jobId = document.getElementById('job-id-input').value;
            console.log('Searching for job ID:', jobId);
            updateJobStatusTable({ dag_run_id: jobId, offset: 0}, true);
        }
        function clearJobIdResult(event) {
            event.preventDefault();
            // clear job id filter and reset to first page
            updateJobStatusTable({ offset: 0 }, false);
        }
        // Pagination (default table)
        function updateJobStatusTableLimit(newLimit) {
            updateJobStatusTable({limit: newLimit});
        }
        function updateJobStatusTablePage(paginateTo) {
            var iframe = document.getElementById('jobs-iframe');
            var offset = parseInt(tableUrls.default.searchParams.get('offset'));
            var limit = parseInt(tableUrls.default.searchParams.get('limit'));
            switch (paginateTo) {
                case PaginateTo.NEXT:
                    offset += limit;
                    break;
                case PaginateTo.PREV:
                    offset -= limit;
                    if (offset < 0) offset = 0; // Prevent negative offset
                    break;
                case PaginateTo.FIRST:
                    offset = 0;
                    break;
                case PaginateTo.LAST:
                    totalEntries = document.getElementById('jobs-iframe-total-entries').innerText;
                    offset = Math.floor(totalEntries / limit) * limit;
                    break;
            }
            updateJobStatusTable({offset: offset});
        }
    </script>
    </body>
</html>
