<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <title>{% block title %} {% endblock %} AIND Data Transfer Service Jobs</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 75%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>
    <nav>
        <a href="/">Submit Jobs</a> |
        <a href="/jobs">Job Status</a> |
        <a href= "{{ upload_template_link }}" >Upload Template</a>
    </nav>
    <h2>Jobs Currently Running: {{num_of_jobs}}</h2>
    <table>
        <tr>
            <th>Asset Name</th>
            <th>Job ID</th>
            <th>Status</th>
            <th>Submit Time</th>
            <th>Start Time</th>
            <th>End time</th>
        </tr>
        {% for job_status in job_status_list %}
        <tr>
            <td>{{job_status.name}}</td>
            <td>{{job_status.job_id}}</td>
            <td>{{job_status.job_state}}</td>
            <td class="datetime_to_be_adjusted">{{job_status.submit_time}}</td>
            <td class="datetime_to_be_adjusted">{{job_status.start_time}}</td>
            <td class="datetime_to_be_adjusted">{{job_status.end_time}}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        window.onload = function() {
            document.querySelectorAll(".datetime_to_be_adjusted").forEach(function(el){
            var utcTime = moment.utc(el.innerText);  // This is the time in UTC
            utcTime.local();  // Switch to using the browser's local timezone
            el.innerText = utcTime.format('YYYY-MM-DD h:mm:ss a');  // Write the local time back to the element
          });
        }
    </script>
    </body>
</html>
