<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <title>{% block title %} {% endblock %} AIND Data Transfer Service Jobs</title>
    <style>
    iframe {
        width: 100%;
        min-height: 70vh;
        border: none;
    }
    </style>
</head>
<body>
    <nav>
        <a href="/">Submit Jobs</a> |
        <a href="/jobs">Job Status</a> |
        <a title="Download job template as .xslx" href= "/api/job_upload_template" download>Job Submit Template</a> |
        <a title="List of project names" href= "{{ project_names_url }}" target="_blank" >Project Names</a> |
        <a title="For more information click here" href="https://github.com/AllenNeuralDynamics/aind-data-transfer-service/tree/main?tab=readme-ov-file#aind-data-transfer-service"  target="_blank" >Help</a>
    </nav>
    <div class="container">
        <button id="firstPage">First</button>
        <button id="prevPage">Previous</button>
        <button id="nextPage">Next</button>
        <button id="lastPage">Last</button>
        <iframe
        id="jobsIframe"
            src="{{ url_for('job_status_table').include_query_params(limit=limit, offset=offset)}}"
        ></iframe>
     </div>
    <script>
        const PaginateTo = {
            NEXT: 'next',
            PREV: 'prev',
            FIRST: 'first',
            LAST: 'last'
        };
        document.getElementById('nextPage').addEventListener('click', function() {
            updateJobStatusTable(PaginateTo.NEXT);
        });
        document.getElementById('prevPage').addEventListener('click', function() {
            updateJobStatusTable(PaginateTo.PREV);
        });
        document.getElementById('firstPage').addEventListener('click', function() {
            updateJobStatusTable(PaginateTo.FIRST);
        });
        document.getElementById('lastPage').addEventListener('click', function() {
            updateJobStatusTable(PaginateTo.LAST);
        });
        function updateJobStatusTable(paginateTo) {
            var iframe = document.getElementById('jobsIframe');
            var currentUrl = new URL(iframe.src);
            var offset = parseInt(currentUrl.searchParams.get('offset'));
            var limit = parseInt(currentUrl.searchParams.get('limit'));
            switch (paginateTo) {
                case PaginateTo.NEXT:
                    offset += limit;
                    break;
                case PaginateTo.PREV:
                    offset -= limit;
                    if (offset < 0) offset = 0; // Prevent negative offset
                    break;
                case PaginateTo.FIRST:
                    offset = 0;
                    break;
                case PaginateTo.LAST:
                    // TODO: implement this
                    console.error('Last page not implemented yet');
                    break;
            }
            currentUrl.searchParams.set('offset', offset);
            iframe.src = currentUrl.toString();
        }
    </script>
    </body>
</html>
