<nav class="navbar">
  <div class="nav-left">
    <a href="/">Submit Jobs</a> |
    <a href="/jobs">Job Status</a> |
    <a href="/job_params">Job Parameters</a> |
    <a title="Download job template as .xslx" href="/api/job_upload_template" download>Job Submit Template</a> |
    <a title="List of project names" href="{{ project_names_url }}" target="_blank">Project Names</a> |
    <a title="For more information click here" href="https://aind-data-transfer-service.readthedocs.io" target="_blank">Help</a> |
    <a href="/admin">Admin</a>
  </div>
  <div class="nav-right">
    {% if user_signed_in %}
      <a href="/logout">Log out</a>
    {% else %}
      <a href="/login">Log in</a>
    {% endif %}
  </div>
</nav>