<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} AIND Data Transfer Service</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
                table {
            border-collapse: collapse;
            width: 75%%;
        }
        th, td {
            border: 1px solid black;
            padding: 4px;
        }
        th {
            background-color: #f2f2f2;
        }


    </style>
</head>
<body>
<h2>Add a New Upload Job</h2>
<form action="" method="POST" novalidate>
    {{ form.csrf_token() }}
    <div>
        {{ form.experiment_type.label }}
        {{ form.experiment_type(placeholder='Experiment Type') }}
        {% if form.experiment_type.errors -%}
          <span>{{ form.experiment_type.errors[0] }}</span>
        {%- endif %}
    </div>
    <div>
        {{ form.acquisition_datetime.label }}
        {{ form.acquisition_datetime(placeholder='Acquisition Datetime') }}
        {% if form.acquisition_datetime.errors -%}
          <span>{{ form.acquisition_datetime.errors[0] }}</span>
        {%- endif %}
    </div>
    {% for modality_form in form.modalities %}
      <div>
        {{ modality_form.modality.label }}
        {{ modality_form.modality(placeholder='Modality Type') }}
        {% if modality_form.modality.errors -%}
          <span>{{ modality_form.modality.errors[0] }}</span>
        {%- endif %}
      </div>
      <div>
        {{ modality_form.source.label }}
        {{ modality_form.source(placeholder='Modality Source') }}
        {% if modality_form.modality.errors -%}
          <span>{{ modality_form.source.errors[0] }}</span>
        {%- endif %}
      </div>
    {% endfor %}
    {{ form.add_modality() }}
    {{ form.submit_jobs() }}
    <div></div>
</form>
</body>
</html>
