name: Tag and publish main
on:
  push:
    branches:
      - main

jobs:
  get_tag_version:
    name: Parse version
    runs-on: ubuntu-latest
    outputs:
      pkg_version: ${{ steps.output_version.outputs.pkg_version }}
    steps:
    - uses: actions/checkout@v4
    - name: Get version from file
      run: |
        pkg_name=$(grep -P 'version = \{attr = .*\}' pyproject.toml | grep -oP '\w+.__version__')
        init_file="./src/${pkg_name//.__version__}/__init__.py"
        pkg_version=$(grep -Po '[0-9]+\.[0-9]+\.[0-9]+' "$init_file")
        echo "docker_tag=$pkg_version" >> "$GITHUB_ENV"
    - name: Create git tag
      run: |
        git tag "v${{ env.docker_tag }}"
    - name: Push git tag
      run: git push origin "v${{ env.docker_tag }}"
  publish_docker:
    needs: get_tag_version
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      docker-tag: ${{ needs.get_tag_version.outputs.pkg_version }}
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish_pypi:
    needs: get_tag_version
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip install --upgrade setuptools wheel twine build
        python -m build
        twine check dist/*
    - name: Publish on PyPI
      uses: pypa/gh-action-pypi-publish@release/v1.12
      with:
        password: ${{ secrets.AIND_PYPI_TOKEN }}