name: Tag and publish main
on:
  push:
    branches:
      - main

jobs:
  tag:
    name: Tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-tag.yml@main
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish-image:
    needs: tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      default-branch: dev
      docker_tag: ${{ needs.tag.outputs.new_version }}
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish-pypi:
    needs: tag
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip install --upgrade setuptools wheel twine build
        python -m build
        twine check dist/*
    - name: Publish on PyPI
      uses: pypa/gh-action-pypi-publish@release/v1.12
      with:
        password: ${{ secrets.AIND_PYPI_TOKEN }}
