name: Publish dev
on:
  push:
    branches:
      - dev

jobs:
  get_tag_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compute new docker image tag
        run: |
          echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
          echo "branch=$(echo ${GITHUB_REF_NAME})" >> "$GITHUB_ENV"
          echo "docker_tag=$(echo ${GITHUB_REF_NAME})-$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
  publish:
    needs: get_tag_version
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      default-branch: dev
      docker-tag: ${{ needs.get_tag_version.outputs.docker_tag }}
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
